body{
    background-color: black;
}
.container{
    display: flex;
    background-image: url("child.png");
    border: 2px solid black;
    width: 80%;
    /* height: ; */
    margin-left: 550px;
    position: relative;
    object-fit: cover;
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 100vh;

}
.container2{
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;

}
.names{
    display: flex;
}
.container2 p{
    font-size: 25px;
}
#men li{
    font-size: 20px;
}
.names{
    text-align: center;
}
#Female li{
    font-size: 20px;
}
.btn{
    border-radius: 10px;
    background-color: blue;
    color: white;
    width: 40%;
    margin-left: 200px;
    height: 35px;
    text-align: center;

} 






display: flex;
    background-image: url("child.jpg");
    border: 2px solid black;
    /* width: 80%; */
    /* height: ; */
    margin-left: 550px;
    /* position: relative; */
    object-fit: cover;
    background-repeat: no-repeat;
    padding-top: 80px;
    /* padding-bottom: 100vh; */
    width: 1200px;
    height: 90vh;